*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-end;
  min-inline-size: 1140px;
  gap: 30px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  justify-self: start;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  inline-size: 399px;
  block-size: 305px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.content__list-item {
  inline-size: 394px;
  block-size: 107px;
  padding-top: 10px;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link:focus {
  outline: none;
  appearance: none;
}

.content__card-link:focus-visible {
  outline: none;
  border: 1px solid white;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: end;
  inline-size: inherit;
  position: relative;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  block-size: inherit;
  gap: 5px;
  padding-top: 3px;
  padding-left: 2px;
}

.content__card-link:hover .content__video-card-title {
  border-bottom: 2px solid white;
}

.content__card-link:hover .content__video-card-description {
  border-bottom: 1px solid white;
}

.content__card-link {
  display: block;
}

.content__card-link:focus-visible {
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}

img.content__video-card-thumbnail {
  inline-size: 194px;
  max-block-size: 103px;
  margin-top: 2px;
  margin-bottom: 2px;

  object-fit: contain;
  object-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  /*padding-bottom: 3px;*/

  max-inline-size: 195px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  /*margin-top: 6px;*/
  max-inline-size: 195px;
}

.result__video-container {
  inline-size: 711px;
  position: relative;
}

.result {
  inline-size: 711px;
  block-size: 456px;
}

.result__video {
  inline-size: 711px;
  /*block-size: 386px;*/
  object-fit: contain;
  object-position: center;
  margin-bottom: px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;

  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  inline-size: 225px;
  border: none;
  outline: none;
  opacity: 0px;
  margin-right: 5px;
}

.search-form__label {
  display: flex;
  block-size: inherit;
  inline-size: inherit;
  gap: 6px;
  padding: 0px;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__fieldset:first-child .search-form__fieldset-title {
  /*border-bottom: 1px solid white;*/
  /*padding-bottom: 4px; */
  margin-bottom: 3px;
}

.search-form__fieldset:first-child {
  align-self: flex-start;
}

.search-form__textfield {
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  background-color: transparent;
  color: inherit;

  block-size: inherit;
  inline-size: inherit;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 3px;
  outline: none;
}

.search-form__textfield:active {
  /*border-right: 1px solid white;
  border-left: 1px solid white;*/
  border: none;
  outline: 1px solid currentColor;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  border: none;
  outline: 1px solid white;
  outline-offset: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__label-text {
  display: inline-block;
  vertical-align: 0.15em;
  height: 19px;
  margin-right: 1px;
}

.search-form__fieldset:nth-child(2) .search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__fieldset:nth-child(2) {
  padding-left: 4px;
  padding-right: 4px;
  align-self: flex-start;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  inline-size: 20px;
  block-size: 20px;
  position: relative;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: white;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.button {
  align-self: flex-end;
  background-color: transparent;
  color: inherit;
  min-block-size: 34px;
  border: 1px solid currentColor;
  cursor: pointer;

  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

.search-form__submit-button {
  inline-size: 194px;
}

.more-button {
  inline-size: 99.5%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid white;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*Кастомный скроллбар*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  inset: 0 10px 0 0;
  inset-inline-end: 10px;
  padding-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0 0 0 /0);
  border-radius: 10px;
  padding-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.993);
  outline: 1px solid slategrey;
  border-radius: 10px;
}
